@font-face{
    font-family: "Super Funky";
    src:url("/DISHROON_PP2/font.ttf") format("truetype");
}

body{
    background: url("../DISHROON_PP2/wallpaper.jpg");
    background-size: auto;
}

t1{
    font-family: "Super Funky", Monaco;
    color: #ffedf2;
    font-weight: bolder;
    font-size: x-large;
    letter-spacing: 2px;
    text-shadow: 3px 4px 4px #942a43;
}
p{
    font-family: "Super Funky", Monaco;
    color: #ffedf2;
    letter-spacing: 0.5px;
    font-size: large;
}

section{
    width: 100px;
    border: 10px pink;
    padding: 50px;
    margin: 20px;
    background-color: #e1607e;
    color: white;
}

header, footer {
    background-color: #e1607e72;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

a{
    color:#de4568;
}

.button1, .button2, .button3, .button4{
    background-color: #e1607e;
    font-family: "Super Funky", Monaco;
    letter-spacing: 0.5px;
    padding: 12px 28px;
    border: none;
    color: white;
}
.button1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10,
.tile11, .tile12, .tile13, .tile14, .tile15, .tile16{
    display: table-cell;
    width: 90px;
    height: 90px;
    border: 1px solid rgb(255, 255, 255);
    background: url("../DISHROON_PP2/puzzleImage.jpg");
    cursor: pointer;
}

.tile1 {background-position: 0px 0px;}
.tile2 {background-position: -90px 0px;}
.tile3 {background-position: -180px 0px;}
.tile4 {background-position: -270px 0px;}
.tile5 {background-position: 0px -90px;}
.tile6 {background-position: -90px -90px;}
.tile7 {background-position: -180px -90px;}
.tile8 {background-position: -270px -90px;}
.tile9 {background-position: 0px -180px;}
.tile10 {background-position: -90px -180px;}
.tile11 {background-position: -180px -180px;}
.tile12 {background-position: -270px -180px;}
.tile13 {background-position: 0px -270px;}
.tile14 {background-position: -90px -270px;}
.tile15 {background-position: -180px -270px;}
.tile16 {background: white; cursor: default;}